/*
 * moutis_m_h_digraph.dtsi
 *
 * SPDX-License-Identifier: MIT
 *
 * t_  = type text
 * b_  = backspace then type text (often for "adaptive key")
 * m_  = macro (performs commands/behaviors, incl. typing).
 * ak_ = type a letter as an adaptive key (consider the prior key).
 *
 */
 
/*
 *
 * H-digraphs (Th, Ch, Wh, Sh, Gh, Ph)
 *
 */

#define my_digraph_speed (my_tapping_speed / 4) // treat these as one very fast letter

// linguistically, "Qu" behaves 'is almost a digraph
    ZMK_MACRO(t_Qu,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_Q>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp U>
                ;
        )

#ifdef H_DIGRAPH_COMBOS
    ZMK_MACRO(t_Th,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_T>
            , <&macro_release &kp LSHFT>
            , <&macro_release &kp RSHFT>
            , <&macro_tap &kp H>
            ;
        )
    ZMK_MACRO(t_tion,
        tap-ms = <my_digraph_speed>;
        bindings = <&kp T &kp I &kp O &kp N>
                ;
        )
    ZMK_MACRO(t_Ch,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_C>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>
                ;
        )
    ZMK_MACRO(t_Wh,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_W>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>
                ;
        )
    ZMK_MACRO(t_Sh,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_S>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>
                ;
        )
    ZMK_MACRO(t_sion,
        tap-ms = <my_digraph_speed>;
        bindings = <&kp S &kp I &kp O &kp N>
                ;
        )
    ZMK_MACRO(t_Gh,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_G>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>
//                , <&sl l_akDot> // to pick up T later?
                ;
        )
    ZMK_MACRO(t_ght,
        tap-ms = <my_digraph_speed>;
        bindings = <&kp G &kp H &kp T>
                ;
        )
    ZMK_MACRO(t_Ph,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_P>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>
                ;
        )

    ZMK_MACRO(t_Sch,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_S>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp C &kp H>
                ;
        )
    ZMK_MACRO(t_Tch,
        tap-ms = <my_digraph_speed>;
        bindings = <&ak_T>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp C &kp H>
                ;
        )
#endif

